server:

spring:
  thymeleaf:
    cache: false # 이전 데이터 캐싱되어 수정 안될 수 있음
  datasource:
    url: jdbc:mariadb://localhost:3306/asset-port
    driverClassName: org.mariadb.jdbc.Driver # 인터넷 검색
    username: root
    password: 1234
  # h2:
  #   console:
  #     enabled: true # 자체 콘솔 존재
  #     path: /h2
  sql:
    init: # 서버가 켜질 때 들어갈 데이터
      encoding: UTF-8
      schema-locations: classpath:sql/schema.sql
      dataLocations: classpath:sql/data.sql
      mode: always
  jpa: 
    defer-datasource-initialization: true # 위의 init에서의 데이터가 들어갈 때까지 기다림
    open-in-view: false # 트랜잭션 범위 밖에서 영속성 컨텍스트를 유지할지 여부
    database-platform: org.hibernate.dialect.MariaDBDialect # 어느 형식의 DB를 쓸 지 결정
    hibernate: # 
      ddl-auto: create-drop # create-drop, update, validate, none / # 
      naming: # 이름 전략
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyJpaImpl
    show-sql: true # sql 보이게
    properties:
      hibernate:
        format_sql: true # sql 정렬 설정
        use_sql_comments: true
  servlet:
    multipart:
      max-request-size: 10MB
      max-file-size: 10MB
      
springdoc:
  api-docs:
    path: /api-docs/json
    groups:
      enabled: 'true'
  default-produces-media-type: application/json;charset=UTF-8
  default-consumes-media-type: application/json;charset=UTF-8
  version: v1.0.0
  swagger-ui:
    operations-sorter: alpha
    tags-sorter: alpha
    path: /api-docs
  cache:
    disabled: 'true'
  packages-to-scan: com.ysh.back